.container {
  height: 100vh;
  /* display: grid;
	grid-template-rows: 0.9fr 0.1fr; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer {
	width: 100%;
  min-height: 70px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;

	margin-top: 1rem;
}

.main {
	/* display: grid;
	grid-template-rows: 0.4fr 0.6fr; */
	display: flex;
	flex-direction: column;

	width: 80%;
	margin: 0 auto;
}

.descriptionContainer {
	text-align: center;
}

.serviceExampleContainer {
	display: flex;
	width: 60%;
	margin: 0 auto;
}



.pokemonList {
	width: 50%;

	display: flex;
	flex-direction: column;
	margin-right: 1rem;
}

.syncResultsContainer {
	display: flex;
	justify-content: space-between;
	overflow-y: auto;
}

.title {
	font-size: 3rem;
}

.description {
	font-size: 1.5rem;
}

.situation {
	font-size: 1.1rem;
	line-height: 1.5;
	margin: 2rem auto;
}

.main input {
	font-size: 1.1rem;
}

.main button  {
	display: inline-block;
  margin: 0;
  padding: 0.3rem 1.5rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.main button:hover {
	opacity: 0.85;
}

@media only screen and (max-width: 600px) {
	.main {
		width: 95%;
	}

	.serviceExampleContainer {
		flex-direction: column;
	}

	.pokemonList {
		width: 90%;
	}

	.pokeListForm {
		margin: 0 auto;
	}

	.serviceExampleContainer {
		width: 90%;
	}
}


