.pokemonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 32px;

	width: 80%;
}

.pokeColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokeList {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 32px;
	
	max-width: 750px;
}

.pokeFormContainer { 
	width: 50%;
	display: flex;
}

.pokeElement {
	margin-right: 8px;
	margin-bottom: 4px;
}

.syncResultsContainer {
	display: flex;
	padding: 0 2rem;
	width: 100%;
	overflow-y: auto;
}

.pokeColumnResult {
	display: flex;
	flex-direction: column;
}

.pokeResults {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 32px;
	
	width: 100%;
}